# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
!data/raw/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
structure.txt